*,body{
margin-top: 0px;
}
.green-background{
    width:100%;
}
.green-block{
    position: relative;
}
.logo{
    position: absolute;
    top:80px;
    left:100px;
    width:150px;
}
.illustration_header{
    width: 500px;
    position: absolute;
    top:170px;
    left:20%;
}
.green-container{
    display: flex;
    justify-content: row;
}
.green-heading{
font-size:40px;
color:white;
font-weight:500;
width:500px;
}
.green-heading-block{
position: absolute;
top:280px;
left:60%; 
}
.heading-button{
    background-color:#ffda40;
    width:420px;
    height:50px;
    font-size:24px;
    margin-top:30px;
    font-weight: 600;
    color:#082112;
}

@media (min-width: 1024px) {
.green-block{
    position: relative;
}}