* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hero-container {
    display: flex;
    height: 600px;
    padding: 30px;
    width: 700px;

}

.hero {
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;

}

.hero-header {
    text-align: left;
    font-size: 2.4rem;
    margin-bottom: 1rem;
    font-weight: 600;
    width: 500px;
    ;
}

.hero-subheading {
    font-size: 1.3rem;
    width: 600px;
    text-align: left;
    line-height: 1.4;
    margin-top: 15px;
}

img {
    width: 500px;
    height: auto;
    padding: 30px;
}


.problem-container-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    max-width:100%;
    width:80%;
    margin-bottom: 30px;
}
.problem-container{
    width:700px;
    
}
.problem-heading{
font-size:2rem;
font-weight:600;
}
.problem-subheading-container{
    margin-top:20px;
    line-height:1.4;
}
ul li{
    padding:5px;
    list-style-type: none;
}
li{
    font-size:1.2rem;
    ;
}

.problem-subheading{
    margin-top:20px;
    font-size:1.2rem;
    font-weight: bold;
}