* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hero-container {
    display: flex;
    height: 600px;
    padding: 30px;
    width: 700px;

}

.hero {
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;

}

.hero-header {
    text-align: left;
    font-size: 2.4rem;
    margin-bottom: 1rem;
    font-weight: 600;
    width: 500px;
    ;
}

.hero-subheading {
    font-size: 1.3rem;
    width: 600px;
    text-align: left;
    line-height: 1.4;
    margin-top: 15px;
}

img {
    width: 500px;
    height: auto;
    padding: 30px;
}


.problem-container-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    max-width:100%;
    width:78%;
    margin-bottom: 30px;
}
.problem-container{
    width:700px;
}
.problem-heading{
font-size:2rem;
font-weight:600;
}
.problem-subheading-container{
    margin-top:20px;
    line-height:1.4;
}
ul li{
    padding:5px;
    list-style-type: none;
}
li{
    font-size:1.2rem;
    ;
}

.problem-subheading{
    margin-top:20px;
    font-size:1.2rem;
    font-weight: bold;
}


.solution-container{
    padding:40px;
    margin-top:80px;
    max-width:100%;
    display:flex;
    flex-direction:column;
    width:78%;
    justify-content:center;
    align-items: center;
}
.solution-heading{
    font-size:1rem;
    width:700px;
    font-weight:600;
    text-align:left;
}
.solution-sub-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    width:100%;
    height:300px;
    margin-top:50px;
}
.solution-sub-card{
    margin-left:50px;
    padding:30px;
    width:500px;
}
.solution-sub-card-heading{
    font-size:1.5rem;
    font-weight:600;
    margin-bottom:20px;
}
.solution-sub-card-text{
    font-size:1.2rem;
    line-height:1.4;
}
.call-to-action-container{
    display:flex;
    max-width:100%;
    width:90%;
    justify-content:center;
    align-items: center;
    margin-top:30px;
    height:300px;
}
.call-to-action-heading{
    font-size: 1.4rem;
    width:400px;
}
.footer-container{
    width:100%;
    max-width:100%;
    text-align: center;
}