* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 60px;

}

.hero {

    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    width: 800px;
}

.hero-header {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

img {
    width: 400px;
    height: auto;
}